*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
}

body{

    background-color: #0e0e0e;
    color: white;
    box-sizing: border-box;

}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main{
    padding: 40px 25px;
}

.card{
    transition: all 100ms ease;
    width: 350px;
   
    
    background-color: #272727;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}

.card button{
    justify-self: center;
    display: flex;
    width: 100px;
    background-color: #a1a172;
    color: white;
    padding: 8px 7px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.card a{
    text-decoration: none;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: -10px 0 100px #fffd94,10px 0 100px #ebf195;
}

.clothes{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.card--see--detail{
    width: 100%;
    transition: all 100ms ease;
    display: flex;
    padding: 5px;
    background-color: #272727;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    
    padding: 10px;
}

.card--see--detail--content{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.card--see--detail--content h1{
    font-family: Arial;
    font-size: 30px;
}
.card--see--detail--content button{
  
    width: 180px;
    background-color: #a1a172;
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid white;
    
    
}

.card--img--space{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}
.card--img--space img{
    width: 100%;
}
.card--content{
    padding: 5px 5px 15px 15px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: start;
    
}

.card--see--detail--img--space{
    width: 50%;
    padding: 10px;
}

.card--see--detail--img{
    width: 100%;
    object-fit: cover;
}

.block{
    width: 100%;
    height: 400px;
    background-color: white;
}

.card--img{
    width: 100%;
    border-radius: 20px;
}
.card--img img{
    width: 100%;
    border-radius: 20px;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.nav{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav p{
    font-size: 20px;
}
.nav h1{
    font-size: 25px;
}

.name{
    font-weight: 600;
}
.price{
    font-size: 14px;
    color: #00584d;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 70px;
}
#login--form{
    padding: 80px 100px;
    box-sizing: border-box;
    background-color: #272727;
    gap: 80px;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
}
#login--form h1{
    text-align: center;
}
#login--form button{
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 40px;
    background-color: #272727;
    color: white;
    border-radius: 10px;
}

#login--form input{
    width: 100%;
    height: 30px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    outline: none;
    padding: 3px 10px;
    box-sizing: border-box;

}
.fourZeroThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fourZeroThree a{
    text-decoration: none;
    color: white;
}
.ctg_btns{
    display: flex;
    gap: 10px;
    padding-block: 35px;
}

.ctgBtn{
    padding: 3px 10px;
    color: #e4e4e4;
    outline: none;
    background-color: #272727;
    border-radius: 10px;
    width: 100px;
    box-sizing: border-box;
    height: 30px;
}
.buttons--space{
    display: flex;
    flex-direction: column;
    gap: 10px;
}